<div>
  <h1>Connections</h1>
  <button type="button" [routerLink]="['/pconnection/create/']">Create new connection</button>
  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Host</th>
      <th scope="col">Port</th>
      <th scope="col">WS Port</th>
      <th scope="col">Password</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let pconnection of pconnections"  scope="row">
      <td>{{pconnection.id}}</td>
      <td>{{pconnection.host}}</td>
      <td>{{pconnection.port}}</td>
      <td>{{pconnection.password}}</td>
      <td>
        <button type="button" [routerLink]="['/pconnection/update/', pconnection.id]">Update</button>
        <button type="button" (click)="delete(pconnection.id);">Remove</button>
      </td>
    </tr>
    </tbody>
  </table>
</div>
