<style>

</style>

<header class="stdhead mb-auto">
  <div class="inner">
    <h3 class="stdhead-brand"></h3>
    <nav class="nav nav-stdhead justify-content-center">
      <a class="nav-link" href="https://github.com/JetBrains/projector-server">GitHub</a>
      <a class="nav-link"
         href="https://github.com/JetBrains/projector-server/blob/master/README-JETBRAINS.md">Readme</a>
      <a class="nav-link" href="https://jetbrains.com">JetBrains</a>
    </nav>
  </div>
</header>


<main role="main" class="inner cover">
  <h1 class="cover-heading">{{ title }}</h1>

  <p class="lead">
    <button (click)="connect()" class="btn btn-lg btn-secondary">
      Connect
    </button>
  </p>
</main>

<footer class="stdfoot mt-auto">
  <div class="inner">
    <p></p>
  </div>
</footer>


<router-outlet></router-outlet>
