<style>

</style>

<header class="stdhead mb-auto">
  <div class="inner">
    <h3 class="stdhead-brand">Projector</h3>
    <nav class="nav nav-stdhead justify-content-center">
      <a class="nav-link" href="https://github.com/JetBrains/projector-server">GitHub</a>
      <a class="nav-link"
         href="https://github.com/JetBrains/projector-server/blob/master/README-JETBRAINS.md">Readme</a>
      <a class="nav-link" href="https://jetbrains.com">JetBrains</a>
    </nav>
  </div>
</header>


<main role="main" class="inner cover">
  <router-outlet></router-outlet>
</main>

<footer class="stdfoot mt-auto">
  <div class="inner">
    <p></p>
  </div>
</footer>

